.messages {
  list-style: none;
  padding: 0;
}

.chat-box {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  height: 7vh;
  gap: 8px;
}

.chat-input {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #777;
}

.send-button {
  background-color: #12bc00;
  color: #fff;
  border-radius: 8px;
  border: none;
}

@media screen and (min-width: 800px) {
  .container {
    margin: auto 30%;
  }
}
