.nav {
  text-align: center;
}

.nav a {
  color: #000;
  text-decoration: none;
}

.box {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.bar {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  .box {
    margin: 10% 25%;
  }

  .bar {
    flex-direction: row;
    margin: 0 40%;
  }
}
